fastapi==0.118.1
uvicorn==0.37.0
python-dotenv==1.1.1
passlib==1.7.4
python-jose==3.5.0
pydantic==2.12.0
supabase
email-validator==2.3.0
bcrypt==3.2.2
python-multipart==0.0.20
SpeechRecognition==3.14.3
pydub==0.25.1
groq
huggingface-hub
psycopg2-binary
requests==2.32.5



